---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import TextBlock from "../components/TextBlock.astro";

const formattedTitle = "404 · Page not found";
---

<GlobalLayout title={formattedTitle} back={true}>
  <div class="space-y-14">
    <PageTitle>🌀</PageTitle>
    <TextBlock>
      <p>
        Lost in the digital maze,<br />
        Page not found, a silent cry,<br />
        Error: 404.
      </p>
    </TextBlock>
  </div>
</GlobalLayout>
