---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import TextBlock from "../components/TextBlock.astro";
---

<GlobalLayout title="Copy Mailto Privacy Policy" back>
  <div class="space-y-14">
    <PageTitle>Copy Mailto &ndash; Privacy Policy</PageTitle>
    <TextBlock>
      <h2>Data Collection</h2>
      <p>
        This extension does not collect, transmit, or store personal data. The
        settings of the extension are only stored on your local machine and are
        never transmitted anywhere. This extension contains neither
        advertisements nor tracking components.
      </p>

      <h2>How does it work?</h2>
      <p>
        When a link containing the mailto attribute is clicked, the extension
        will prevent the default action from occurring and copy the email
        address to the clipboard instead.
      </p>

      <h2>Contact</h2>
      <p>
        Please do not hesitate to get in touch with me at the following email
        address,
        &#097;&#110;&#116;&#104;&#111;&#110;&#121;&#098;&#114;&#117;&#110;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;,
        if you have any questions, comments, or suggestions.
      </p>

      <small class="dimmed-text block py-10"
        >Gmail, Chrome, and Google Apps are trademarks of Alphabet Inc.</small
      >
    </TextBlock>
  </div>
</GlobalLayout>
