---
import { getHome } from "@utils/api";
import { type projectNavItem } from "@utils/types";

import GlobalLayout from "@layouts/GlobalLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import ProjectList from "@components/ProjectList.astro";
import PortableText from "@components/PortableText.astro";
import TextBlock from "@components/TextBlock.astro";

interface Props {
  bio: string;
  projectNavItems: projectNavItem[];
  contactItems: contactItem[];
}

interface contactItem {
  label: string;
  url: string;
}

const data = await getHome();
const { bio, projectNavItems, contactItems } = data as Props;
---

<GlobalLayout title="Anthony Bruno · Lead Front-End Developer · Denver, CO">
  <div class="space-y-14">
    <PageTitle>Anthony Bruno</PageTitle>
    <TextBlock>
      <PortableText value={bio} />
    </TextBlock>

    <ProjectList items={projectNavItems} />

    <div>
      <h2 class="pb-8 text-2xl">Get in Touch</h2>
      <ul class="space-y-6">
        {
          contactItems.map((item: contactItem) => (
            <li>
              <a
                class="transition-opacity after:content-['_↗'] hover:text-blue-600"
                href={item.url}
                target="_blank"
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</GlobalLayout>
