<div x-data="{cool: dataObj}" x-init="cool = await getCool()">
  <h2 class="pb-8">Currently</h2>
  <ul class="space-y-4">
    <li>
      <a
        href="https://duckduckgo.com/?q=denver+colorado&atb=v338-1&ia=web&iax=about&iaxm=maps"
      >
        <h6>Denver, CO</h6>
        <span class="dimmed-text">
          Where it&rsquo;s about <span x-text="cool.temp"></span> degrees at
          <span x-text="currentTime()"></span>
        </span>
      </a>
    </li>
    <li>
      <a x-bind:href="cool.link">
        <h6><span x-text="cool.trackArtist"></span></h6>
        <span class="dimmed-text">
          On Spotify <span x-text="cool.lastUpdatedDistance"></span>
        </span>
      </a>
    </li>
  </ul>
</div>

<script>
  async function getCool() {
    const response = await fetch("https://coolapi.live");
    const data = await response.json();
    Alpine.store("loaded", true);
    return data;
  }

  function currentTime() {
    return new Date().toLocaleString("en-US", {
      hour: "numeric",
      minute: "numeric",
      timeZone: "US/Mountain",
    });
  }

  function dataObj() {
    return {
      trackArtist: null,
      link: null,
      lastUpdatedDistance: null,
      temp: null,
    };
  }
</script>
