<div x-data="{cool: dataObj}" x-init="cool = await getCool()">
  <h2 class="pb-8 text-2xl">Currently</h2>
  <ul class="space-y-6 text-pretty">
    <li>
      <a
        class="group block"
        href="https://duckduckgo.com/?q=denver+colorado&atb=v338-1&ia=web&iax=about&iaxm=maps"
        target="_blank"
      >
        <span class="block transition-color group-hover:text-blue-600">Denver, CO</p>
        <span class="dimmed-text inline-block">
          where it&rsquo;s about <span x-text="cool.temp"></span> degrees
          <span class="whitespace-nowrap">
            around
            <span class="whitespace-nowrap" x-text="currentTime()"></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a class="group block" x-bind:href="cool.link" target="_blank">
        <span class="block transition-color group-hover:text-blue-600" x-text="cool.trackArtist"></span>
        <span class="dimmed-text inline-block">
          on Spotify <span x-text="cool.lastUpdatedDistance"></span>
        </span>
      </a>
    </li>
  </ul>
</div>

<script>
  async function getCool() {
    const response = await fetch("https://coolapi.live");
    const data = await response.json();
    Alpine.store("loaded", true);
    return data;
  }

  function currentTime() {
    return new Date().toLocaleString("en-US", {
      hour: "numeric",
      minute: "numeric",
      timeZone: "US/Mountain",
    });
  }

  function dataObj() {
    return {
      trackArtist: null,
      link: null,
      lastUpdatedDistance: null,
      temp: null,
    };
  }
</script>
