---
import { type projectNavItem } from "@utils/types";

interface Props {
  title: string;
  items: projectNavItem[];
}

const { title, items } = Astro.props;
const path = Astro.url.pathname;
let filteredItems = items;

if (path.includes("/project/")) {
  filteredItems = items.filter(
    item => item.url !== path.replace("/project/", "")
  );
}
---

<div>
  <h2 class="pb-8">{title}</h2>
  <ul class="space-y-4">
    {
      filteredItems.map((item: projectNavItem) => (
        <li>
          <a
            class="group block"
            href={item.external ? item.url : `/project/${item.url}`}
            target={item.external ? "_blank" : "_self"}
          >
            <div class="flex items-center space-x-4">
              <h6
                class:list={[
                  "transition-color group-hover:text-blue-500",
                  { "after:content-['_↗']": item.external === true },
                  { "after:content-['_→']": item.external === false },
                ]}
              >
                {item.title}
              </h6>
            </div>
            <span class="dimmed-text">{item.subtitle}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>
