---
import { type projectNavItem } from "@utils/types";

interface Props {
  items: projectNavItem[];
}

const { items } = Astro.props;
---

<div>
  <h2 class="pb-8 text-2xl">Projects</h2>
  <ul class="space-y-6 text-pretty">
    {
      items.map((item: projectNavItem) => (
        <li>
          <a
            class="group block"
            href={item.external ? item.url : `/project/${item.url}`}
            target={item.external ? "_blank" : "_self"}
          >
            <p
              class:list={[
                "transition-color group-hover:text-blue-600",
                { "after:content-['_↗']": item.external === true },
                { "after:content-['_→']": item.external === false },
              ]}
            >
              {item.title}
            </p>
            <span class="dimmed-text">{item.subtitle}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>
