---

---

<div
  class="prose
			prose-lg
			prose-abruno
			text-pretty
			dark:prose-invert
			prose-headings:font-semibold
			prose-h2:text-2xl
      prose-a:decoration-blue-200
			prose-a:underline-offset-2
			prose-a:transition-colors
			hover:prose-a:decoration-blue-500
			prose-li:my-0
			dark:prose-a:decoration-transparent"
>
  <slot />
</div>
