@import 'tailwindcss';

@theme {
  --color-tony-mint: #008560;
  --color-tony-mint-hover: #007a59;
  --color-tony-blueberry: #3366ff;
  --color-tony-blueberry-hover: #254ed9;
  --color-tony-cherry: #d32f2f;
  --color-tony-cherry-hover: #aa2424;
  --color-tony-off-white: #f7f4f2;
  --color-tony-100: #fffcfa;
  --color-tony-200: #ede9e6;
  --color-tony-300: #b0aaa7;
  --color-tony-400: #77736f;
  --color-tony-500: #635e5b;
  --color-tony-600: #44403d;
  --color-tony-700: #2b2b2b;
  --color-tony-800: #1f1f1f;
  --color-theme: #3366ff;
  --color-theme-hover: #254ed9;

  --font-sans: 'system-ui', sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply antialiased;
  }
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}
